@font-face {
  font-family: shabnam;
  src: url("Shabnam.woff2") format("woff2"); }

@font-face {
  font-family: sahel;
  src: url("Sahel.woff2") format("woff2"); }

body {
  margin: 0;
  padding: 0;
  background-image: url("/Simple login page/img/background-image.png");
  background-size: cover; }

.container {
  margin: 7rem auto;
  max-width: 50rem;
  max-height: 30rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 25rem));
  grid-auto-rows: minmax(25rem, 30rem);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.184); }

.card-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #EE3E38;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 0.5rem; }
  .card-left-img {
    width: 15rem;
    height: 15rem; }

.card-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #ffffff;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0.5rem; }
